<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GestionDeHoras.Properties.Settings.DBUNAPECConnectionString"
            connectionString="Data Source=DAVIDPC;Initial Catalog=DBUNAPEC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GestionDeHoras.Properties.Settings.DBUNAPECConnectionString1"
            connectionString="Data Source=LAPTOP-KJJM1ASJ;Initial Catalog=DBUNAPEC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GestionDeHoras.Properties.Settings.GESTIONDEAULAConnectionString"
            connectionString="Data Source=JTEJEDA;Initial Catalog=GESTIONDEAULA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>